.drawer {
  position: absolute;
  width: 420px;
  height: 1059px;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.3);
  padding: 30px;

  .items {
    overflow: auto;
    margin-bottom: 40px;
  }

  h2 {
    margin: 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    img {
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 0.15s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.cardTotalBlock {
  ul {
    display: block;
    margin-bottom: 30px !important;
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }
    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top: -4px;
      margin: 0 7px;
    }
  }

  .greenButton {
    position: relative;
    margin-left: 25px;

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 40px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.greenButton {
  width: 325px;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: lighten($color: #9dd558, $amount: 5%);
  }

  &:active {
    background: darken($color: #9dd558, $amount: 5%);
  }
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.items {
  flex: 1;
  .cartItem {
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;

    p {
      margin-bottom: 5px;
      font-size: 14px;
      margin: 0;
    }
    b {
      font-size: 14px;
    }
    .sneakers {
      margin-right: 20px;
    }
    .removeBtn {
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 0.15s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
    .description {
      margin-right: 20px;
    }
  }
}

.emptyCart {
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  p {
    margin-bottom: 40px;
    text-align: center;
    opacity: 0.6;
    font-size: 16px;
    width: 285px;
  }
  h2 {
    margin-bottom: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 22px;

    img {
      width: 245px;
      height: 55px;
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 0.15s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }
  .greenButton {
    position: relative;

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 40px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
}
